<footer class="footer bg-gray-200 relative pt-1 border-b-2 mt-10">
    <div class="container mx-auto px-6">
        <div class="mt-5 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                {% if user.is_authenticated %}
                {% if profile.name %}
                <p>Name : {{ profile.name }}</p>
                <p>Account Number : {{ profile.a_no }}</p>
                <p>Balance : {{ profile.current }}</p>
                {% endif %}
                {% endif %}
                <p class="text-md text-gray-900 font-bold mb-2">
                    © 2021 by MR M
                </p>
            </div>
        </div>
    </div>
</footer>